<% if logged_in? %>
  <div class="row">

    <div class="col-md-8">
      <h3>Latest Reviews</h3>
      <%= render 'shared/home_feed' %>
    </div>
  </div>
<% else %>
<div class="center jumbotron">
	<h1>Welcome to Snacks App</h1>

  <h2>
    The new way to rate your favorite snacks
  </h2>

 <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
</div>
<% end %>
