<% provide(:title, 'All Snacks') %>
<h1>Listing Snacks</h1>
<%= will_paginate %>
<div class="row">
  <%= render @products %>
</div>
<% if current_user.admin? %>
<%= link_to 'New Product', new_product_path, class: 'btn btn-info'%>
<% end %>
<%= will_paginate %>


